@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  src: url('/fonts/Montserrat/Montserrat100.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  src: url('/fonts/Montserrat/Montserrat200.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('/fonts/Montserrat/Montserrat400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('/fonts/Montserrat/Montserrat600.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url('/fonts/Montserrat/Montserrat800.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: url('/fonts/Montserrat/Montserrat900.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('/fonts/Pretendard/Pretendard-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('/fonts/Pretendard/Pretendard-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  src: url('/fonts/Pretendard/Pretendard-Black.woff2') format('woff2');
  font-display: swap;
}

body,html {height:100%;margin:0;padding:0}
ul, li, dl, dt, dd, p, span{margin:0;padding:0}
a{text-decoration:none}
li{list-style:none}
a{text-decoration:none}
*, :after, :before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

body {
  font-family: "Pretendard";

  background-image: url('/images/herobg.webp');
  padding-bottom: calc(24px + env(safe-area-inset-bottom));
  margin: 0;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

.navbar {
  height: 80px;
  color: white;
  position: sticky;
  top: 0;
  display: flex;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.navbar_title {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 24px;
  margin-left: 10px;
}

.navbar_logo {
  height: 32px;
}

.form-container {
  
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.form-container.animate {
  opacity: 1;
}

form {
  max-width: 500px;
  margin: 0 40px;
  padding: 40px;  
  border-radius: 5px;
  background-color: rgb(224, 226, 230, 0.8);
  opacity: 0.9;

  font-family: "Pretendard";
}

@media screen and (max-width: 600px) {
  form {
    max-width: 400px;
  }
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #101012;

}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #101012;
}

textarea {
  height: 180px;
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #ededed;
  color: #101012;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
button[type="submit"]:disabled {
  background-color: #9f9f9f;
  cursor: not-allowed;
}
button[type="submit"]:disabled:hover {
  background-color: #9f9f9f;
}

button[type="submit"]:hover {
  background-color: #dddddd;
}

button[type="submit"]:active {
  background-color: #d6d6d6;
}

/* 타이핑 */
.typing-container {
  font-size: 40px;
  font-weight: 700;
  font-family: ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
  color: white;
  margin: 50px;
  width: 420px;
  word-break: keep-all;
}

#cursor {
  border-left: 2px solid rgb(230, 230, 230); /* 커서 스타일 */
  animation: blink 0.7s infinite;
  display: inline-block;
  margin-left: 2px;
  height: 35px; /* 폰트 크기와 동일하게 설정 */
  vertical-align: middle;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 로딩 */
.loading_spinner_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading_spinner {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 2px solid #333;
  border-top-color: #fff;
  animation: loading_spinner_animation 1s infinite linear;
}

@keyframes loading_spinner_animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading_spinner_text {
  margin-top: 10px;
}

.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
  display: inline-block;
  margin-right: 8px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.success-message {
  opacity: 0;
  animation: fadeInOut 3s ease-in-out forwards;
  background-color: #d4edda;
  color: #155724;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  margin-left: 40px;
  margin-right: 40px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}